---
http_interactions:
- request:
    method: get
    uri: https://api.instagram.com/v1/locations/254433809/media/recent.json?min_id&client_id=client_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-ratelimit-remaining:
      - '4994'
      content-language:
      - en
      x-ratelimit-limit:
      - '5000'
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"pagination":{"next_url":"https:\/\/api.instagram.com\/v1\/locations\/254433809\/media\/recent?max_id=995119922728364795\u0026client_id=f3fe014c5b9e4ef9982b94224a5083f4","next_max_id":"995119922728364795"},"meta":{"code":200},"data":[{"attribution":null,"tags":["centralpark"],"location":{"latitude":40.783055556,"name":"Central Park","longitude":-73.972222222,"id":254433809},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"1432856839","link":"https:\/\/instagram.com\/p\/3Ppxa7Jhzm\/","likes":{"count":73,"data":[{"username":"jiioohanna","profile_picture":"https:\/\/igcdn-photos-h-a.akamaihd.net\/hphotos-ak-xfp1\/t51.2885-19\/10808598_374620332702751_859404116_a.jpg","id":"1379990930","full_name":"Johanna"},{"username":"nesselias","profile_picture":"https:\/\/igcdn-photos-c-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/s150x150\/11849149_1136441666385930_687093798_a.jpg","id":"990856922","full_name":"vanessa"},{"username":"caltij","profile_picture":"https:\/\/scontent.cdninstagram.com\/hphotos-xaf1\/t51.2885-19\/11821293_1458279234497420_965456874_a.jpg","id":"1068198853","full_name":"Jo-Ann Caltabiano"},{"username":"_sahilverma","profile_picture":"https:\/\/igcdn-photos-a-a.akamaihd.net\/hphotos-ak-xaf1\/t51.2885-19\/11372434_121370084861088_569036911_a.jpg","id":"1543514582","full_name":""}]},"images":{"low_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s320x320\/e15\/11376629_1650859051814506_1184904295_n.jpg","width":320,"height":320},"thumbnail":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/s150x150\/e15\/11376629_1650859051814506_1184904295_n.jpg","width":150,"height":150},"standard_resolution":{"url":"https:\/\/scontent.cdninstagram.com\/hphotos-xfa1\/t51.2885-15\/e15\/11376629_1650859051814506_1184904295_n.jpg","width":640,"height":640}},"users_in_photo":[],"caption":{"created_time":"1432856839","text":"I could have spent all day in this place \ud83c\udf33 #centralpark","from":{"username":"danielcalti5","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11856755_923037117760838_1573941093_a.jpg","id":"22447438","full_name":"Daniel Caltabiano"},"id":"995197760940940994"},"type":"image","id":"995197758743125222_22447438","user":{"username":"danielcalti5","profile_picture":"https:\/\/igcdn-photos-g-a.akamaihd.net\/hphotos-ak-xfa1\/t51.2885-19\/11856755_923037117760838_1573941093_a.jpg","id":"22447438","full_name":"Daniel Caltabiano"}},{"attribution":null,"tags":["magnoliabakery","newyorkcity","bananapudding","nyskyline","centralpark","sexandthecity"],"location":{"latitude":40.783055556,"name":"Central Park","longitude":-73.972222222,"id":254433809},"comments":{"count":0,"data":[]},"filter":"Normal","created_time":"14328[...]
